h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 1.375;
    letter-spacing: -0.08em;
    margin: 0;
}

.h1,
h1 {
    line-height: 1.2;

    font: {
        size: 5rem;
        weight: 400;
    }


}

.h2,
h2 {

    font: {
        size: 4rem;
        weight: 500;
    }
}

.h3,
h3 {

    font: {
        size: 2.8rem;
        weight: 700;
    }
}

.h4,
h4 {
    font: {
        size: 2rem;
        weight: 600;
    }
}

.h5,
h5 {

    font: {
        size: 2.4rem;
        weight: 600;
    }
}

.h6,
h6 {
    font: {
        size: 1.2rem;
        weight: 600;
    }
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 2rem 0;
}